<!DOCTYPE html>
<html>
  <head>
    <title> DROP PIN </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body class = "home">
    <img id="EQLabel" src="images/EQLabel.png" alt="EARTHQUAKE">
    <img id="TSLabel" src="images/TSLabel.png" alt="TSUNAMI">
    
    <br>
<form action="./map" method="post">
  <input type="checkbox" name="earthquake" value="true"><br>
  <input type="checkbox" name="tsunami" value="true" ><br>
  <input id = "SubButton" type="submit" value="Submit">
</form>
  </body>
</html>
