<!DOCTYPE html>
<html>
  <head>
    <title> DROPPIN </title>
  </head>
  <body>
    <h1> DROPPIN</h1>
    <p> Find. Learn. Help. </p>
    <div class="aligncenter" style="width:400px;height:0;border-top:2px double #0000A0;font-size:0;">-</div>

    <br>
<form action="./map" method="post">
  <input type="checkbox" name="disasterType" value="Earthquake"> Earthquake<br>
  <input type="checkbox" name="disasterType" value="Tsunami" > Tsunami<br>
  <input type="submit" value="Submit">
</form>
  </body>
</html>
