<!DOCTYPE html>
<html>
  <head>
    <title> DROP PIN </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body class = "home">

<!--     <div class="aligncenter" style="width:400px;height:0;border-top:2px double #0000A0;font-size:0;">-</div>
 -->
    <br>
<form action="./map" method="post">
  <input type="checkbox" name="earthquake" value="true"> Earthquake<br>
  <input type="checkbox" name="tsunami" value="true" > Tsunami<br>
  <input type="submit" value="Submit">
</form>
  </body>
</html>
