<!DOCTYPE html>
<html>
  <head>
    <title>Drop Pin - Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body class = "home"> 
    <br>
    <div id = "form">
<form action="./map" method="post">
  <img id="EQLabel" src="images/EQLabel.png" alt="EARTHQUAKE"><input type="checkbox" name="earthquake" value="true"><br>
  <img id="TSLabel" src="images/TSLabel.png" alt="TSUNAMI"><input type="checkbox" name="tsunami" value="true"><br>
<!--   <center><input id = "SubButton" type="submit" value="Submit"></center> -->
          
  <input id = "SubButton" type="image" name="submit" src="images/ViewButtonV1.png" border="0" alt="Submit" />
          </div>
      </form> 
  
</form>
    </div>
  </body>
</html>
