<!DOCTYPE html>
<html>
  
  <head><title> Information on the <%=@disaster%> </title></head>
  
  <body> 
    <h1> <%=@disaster%> </h1>
    <br>
    <p>Location: <%=@location%></p>
    <br>
    <p>Magnitude: <%=@mgnitude%></p>
    <br>
    <br>
    <br>
    
    
    
    
    <a href="./"><button>Home</button></a>
    <a href="./map"><button>Map</button></a>
    <a href="./charities"><button>Charities</button></a>
  </body>
</html>