<!DOCTYPE html>
<html>
  
  <head><title> Information </title></head>
  
  <body> 
    
    <h1> INFORMATION. </h1>
    <a href="./results"><button> Go to the results page </button></a>
    <a href="./pablo"><button> Go to the Pablo page </button></a>
    <a href="./wakeup"><button> Go to the wake up page </button></a>
    <a href="https://learn.co/"><button> Go to learn.co website </button></a>
  </body>
</html>