<!DOCTYPE html>
<html>
  <head>
    <title> WORLD MAP </title>
  </head>
  <body>


<form action="./map" method="post">
  <input type="checkbox" name="disasterType" value="Earthquake"> Earthquake<br>
  <input type="checkbox" name="disasterType" value="Tsunami" > Tsunami<br>
  <input type="submit" value="Submit">
</form>
    
  </body>
</html>
