<!DOCTYPE html>
<html>
  <head>

    <title> WORLD MAP </title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body class = "map">    
    <a href="./"><img id = "homeButton" src="images/homeButtonV2.png" alt="HOME" border="0"></a>    

    <% if @showEarthquakePin==true %>
    <a href="./infoEq_4-25-15"><img class = "eqDropPin" src="images/EQHighlightedPin.png" alt="EQPIN" border="0"></a>    
    <% elsif @showTsunamiPin==true %>
    <a href="./infoTs_3-11-11"><img class = "tsDropPin" src="images/EQHighlightedPin.png" alt="TSPIN" border="0"></a>
    <% end %>
  </body>
</html>
