<!DOCTYPE html>
<html>
  <head>
    <a href="./"><button>Home</button></a>    

    <title> WORLD MAP </title>
<!--     <center><img id="Map" src="images/worldMap.png" alt="WORLD MAP" style="width:1920px;height:1080px;"></center>     -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body class = "map">    
    <% if @showEarthquakePin==true %>
<!--     earthquake pins appear -->
        <a href="./info"><img class = "dropPin" src="images/EQHighlightedPin.png" alt="EQPIN" border="0"></a>
    
    <% end %>
    
    <% if @showTsunamiPin==true %>
<!--     tsunami pins appear -->
    
    
    <% end %>
  </body>
</html>
