<!DOCTYPE html>
<html>
  <head>
    <title> WORLD MAP </title>
    <center><img id="Map" src="images/worldMap.png" alt="WORLD MAP" style="width:1500px;height:844px;"></center>
  </head>
  <body>
    
    <% if @showEarthquakePin==true %>
<!--     earthquake pins appear -->
        <center><a href="./info"><img src="images/DropPinWShadow.png" alt="EQPIN" width="260" height="410" border="0"></a></center>
    
    <% end %>
    
    <% if @showTsunamiPin==true %>
<!--     tsunami pins appear -->
    
    
    <% end %>
  </body>
</html>
