
.home {
    background-color: #3C3C3C;
    width: 100%;
    height: 100%;
    background-image: url("../images/LogoOnEarthWBG.png");
    background-repeat: no-repeat;
    background-position: center top;
}

#form {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
}

#EQLabel {
  width: 70%;
  height: 70%;
}

#TSLabel {
  width: 70%;
  height: 70%;
}

#SubButton { 
  width:90%;
  height:90%;
  margin-right: 200px;
  margin-top: 30px;
}

input[type="checkbox"]{
cursor: pointer;
-webkit-appearance: none;
appearance: none;
background: #34495E;
border-radius: 1px;
box-sizing: border-box;
box-sizing: content-box ;
width: 30px;
height: 30px;
border-width: 0;
transition: all .3s linear;
left: 60%;
top:60%;
}

input[type="checkbox"]:checked{
  background-color: #01B738;
}

input[type="checkbox"]:focus{
  outline: 0 none;
  box-shadow: none;
}

/* FOR THE MAP PAGE */
.map {
    background-color: #0062B0;
    width: 100%;
    height: 100%;
    background-image: url("../images/worldMapDB.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#homeButton {
  height: 50px;
  width: 100px;
  position: absolute;  
}

.eqDropPin {
  height: 5%;
  width: 5%;
  margin: 20% auto 0 70%;
/*   margin-left: 500px;
  margin-top: 500px; */
  
}

.tsDropPin {
  height: 5%;
  width: 5%;
  margin: 20% auto 0 70%;
}

/* FOR THE INFO PAGE */
h1{
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

h2{
  position: relative;
  left: 250px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

p{
  position: relative;
  left: 250px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.infoBody {
  
}

.charityLink {
  position: relative;
  left: 250px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}